name: Build ConqPing (Native)

on:
  push:
    branches: [ "main", "master" ]
    tags: [ "v*" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build-linux-arm64:
    name: Build conqping-linux-arm64
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Build in Docker (ARM64)
      run: |
        docker run --rm -v ${{ github.workspace }}:/app -w /app --platform linux/arm64 ghcr.io/graalvm/native-image-community:17-ol8 \
          bash -c "javac -d . java/src/ConqPing.java && native-image --no-fallback -H:Name=conqping -cp . ConqPing && mv conqping conqping-linux-arm64"

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: conqping-linux-arm64
        path: conqping-linux-arm64

  build-native:
    needs: []
    name: Build ${{ matrix.final_name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            executable: conqping.exe
            final_name: conqping-windows-x64.exe
          - os: macos-latest
            executable: conqping
            final_name: conqping-macos-arm64
          - os: macos-13
            executable: conqping
            final_name: conqping-macos-x64
          - os: ubuntu-latest
            executable: conqping
            final_name: conqping-linux-x64

    steps:
    - uses: actions/checkout@v4

    - name: Set up GraalVM
      uses: graalvm/setup-graalvm@v1
      with:
        java-version: '17'
        distribution: 'graalvm'
        github-token: ${{ secrets.GITHUB_TOKEN }}

    - name: Compile Native Image
      run: |
        javac -d . java/src/ConqPing.java
        native-image --no-fallback -H:Name=conqping -cp . ConqPing

    - name: Prepare Artifact
      shell: bash
      run: |
        mv ${{ matrix.executable }} ${{ matrix.final_name }}

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.final_name }}
        path: ${{ matrix.final_name }}

  release:
    needs: [build-linux-arm64, build-native]
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    permissions:
      contents: write
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v4

      - name: Display structure
        run: ls -R

      # Iterate over downloaded folders (artifact name = folder name) and move files to root for release
      - name: Flatten Artifacts
        run: |
          mkdir release_files
          find . -type f -not -path "./release_files/*" -exec cp {} release_files/ \;

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: release_files/*


